#myDIV {

    width: 80%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: "none";
  }
  /*  myFunction() {
   
    var x = document.getElementById("myDIV");
    if ((x.style.display === "none")) {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }

  } 
  
  toggleChecked() {
    this.setState(prevState => ({ isChecked: !prevState.isChecked }));
}
  */